.menu-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 62px;
    padding-top: 20px;
    background: #ccd3c7;
    .nav-item {
        .nav-link {
            cursor: pointer;
        }
        a, a:active, a:visited {
            color: #333;
        }
        a:hover {
            color: #445;
        }
        a.active {
            background-color: #e8ebe5;
            border-color: #cfd3cb #cfd3cb #e8ebe5;
        }
        .fas {
            font-size: 0.63em;
            position: relative;
            top: -1px;
            color: #76806f;
        }
    }
}
.tree-container {
    margin-top: 60px;
    transition: height 0.4s ease;
}

tr.active {
    background: aliceblue;
}

.right-column {
    background: aliceblue;
}

.nav-link {
    cursor: pointer;
}

.review {
    display: block;

    .right {
        text-align: right;
    }

    button {
        width: 120px;
        text-align: center;
    }

    button.btn-close {
        width: 24px;
        float: right;
        margin-top: -35px;
        margin-right: -35px;
    }

    .review-details {
        > div {
            white-space: nowrap;
        }
        .fa-clipboard {
            margin-left: 3px;
            font-size: 0.8em;
            cursor: pointer;
        }
    }

    .per-page {
        margin-left: 20px;
        width: 80px;
        padding: 3px;
    }

    .block-height-cell,
    .checkbox-cell {
        width: 1%;
        min-width: 0;
        white-space: nowrap;
    }

    td .fa-clipboard {
        cursor: pointer;
        font-size: 0.8em;
        position: relative;
        top: -2px;
    }

    .to {
        color: green;
    }

    .from {
        color: red;
    }

    .set-name {
        margin-left: 20px;
    }

    tfoot.total {
        font-weight: bold;
    }
}
