<div class="tree-container" *ngIf="data && data.name">
    <app-tree [data]="data" (selectedNode)="selectNode( $event )" *ngIf="data && data.name"></app-tree>
</div>

<div class="mt-5 card review p-5" *ngIf="showTable">
    <button *ngIf="tab !== 'approved'" type="button" class="btn-close"
            aria-label="Close" (click)="cancel()"></button>
    <div class="card-title" *ngIf="tab !== 'approved'">
        <h3 class="mb-4">
            Review Transactions
            ({{
            account.name ||
            account.to ? account.to?.substr(0, 4) + '&hellip;' +
                account.to?.substr(-4, 4) :
                account.toHash?.substr(0, 17) + '&hellip;' +
                account.toHash?.substr(-4, 4)
            }})
        </h3>
        <ul class="nav nav-tabs">
            <li class="nav-item" *ngIf="!this.isGenesisAccount">
                <a class="nav-link" (click)="setFromPrevious()" [class.active]="tab === 'previous'">
                    From {{
                    account.name ||
                    account.from ? account.from?.substr(0, 4) + '&hellip;' +
                        account.from?.substr(-4, 4) :
                        account.fromHash?.substr(0, 17) + '&hellip;' +
                        account.fromHash?.substr(-4, 4)
                    }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link to" (click)="setInbound()" [class.active]="tab === 'inbound'">
                    All Inbound
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link from" (click)="setOutbound()" [class.active]="tab === 'outbound'">
                    All Outbound
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="review-details mb-3" *ngIf="tab !== 'approved'">
            <div *ngIf="tab === 'previous'">
                <div>
                    <span class="from">From:</span>&nbsp;
                </div>
                <div class="ms-3">
                    Hex: {{ account.from || 'Unknown' }}
                    <i ngxClipboard (cbOnSuccess)="copied($event)"  cbContent="{{ account.from }}" *ngIf="account.from" class="far fa-clipboard"></i>
                </div>
                <div class="ms-3">
                    <i class="text-muted small">
                        ( {{ account.fromHash }}
                        <i ngxClipboard (cbOnSuccess)="copied($event)"  cbContent="{{ account.fromHash }}" class="far fa-clipboard"></i>
                        )
                    </i>
                </div>
                <div class="mt-2">
                    <span class="to">To:</span>&nbsp;
                </div>
                <div class="ms-3">
                    Hex: {{ account.to || 'Unknown' }}
                    <i ngxClipboard (cbOnSuccess)="copied($event)"  cbContent="{{ account.to }}" *ngIf="account.to" class="far fa-clipboard"></i>
                </div>
                <div class="ms-3">
                    <i class="text-muted small">
                        ( {{ account.toHash }}
                        <i ngxClipboard (cbOnSuccess)="copied($event)"  cbContent="{{ account.toHash }}" class="far fa-clipboard"></i> )
                    </i>
                </div>
            </div>
            <div *ngIf="tab === 'inbound'">
                <div class="mt-2">
                    <span class="to">To:</span>&nbsp;
                </div>
                <div class="ms-3">
                    Hex: {{ account.to || 'Unknown' }}
                    <i ngxClipboard (cbOnSuccess)="copied($event)"  cbContent="{{ account.to }}" *ngIf="account.to" class="far fa-clipboard"></i>
                </div>
                <div class="ms-3">
                    <i class="text-muted small">
                        ( {{ account.toHash }}
                        <i ngxClipboard (cbOnSuccess)="copied($event)"  cbContent="{{ account.toHash }}" class="far fa-clipboard"></i> )
                    </i>
                </div>
            </div>
            <div *ngIf="tab === 'outbound'">
                <div>
                    <span class="from">From:</span>&nbsp;
                </div>
                <div class="ms-3">
                    Hex: {{ account.to || 'Unknown' }}
                    <i ngxClipboard (cbOnSuccess)="copied($event)"  cbContent="{{ account.to }}" *ngIf="account.to" class="far fa-clipboard"></i>
                </div>
                <div class="ms-3">
                    <i class="text-muted small">
                        ( {{ account.toHash }}
                        <i ngxClipboard (cbOnSuccess)="copied($event)"  cbContent="{{ account.toHash }}" class="far fa-clipboard"></i> )
                    </i>
                </div>
            </div>
        </div>
        <div class="alert alert-warning" *ngIf="!transfers?.length">
            No transactions found.
        </div>
        <table class="table" *ngIf="transfers?.length">
            <thead>
            <tr>
                <th scope="col" class="checkbox-cell">
                    <input type="checkbox" [ngModel]="allSelected" (click)="selectAll()">
                </th>
                <th scope="col">Block</th>
                <th scope="col">Date</th>
                <th scope="col">Deploy Hash</th>
                <th scope="col" *ngIf="tab === 'inbound' || tab === 'approved'">From</th>
                <th scope="col" *ngIf="tab === 'outbound' || tab === 'approved'">To</th>
                <th scope="col" class="amount-cell right">Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transfer of transfers; let i = index">
                <td class="checkbox-cell">
                    <input type="checkbox" [(ngModel)]="transfer.selected">
                </td>
                <td>{{ transfer.blockHeight }}</td>
                <td>{{ transfer.timestamp | date: 'medium' }}</td>
                <td>
                    {{ transfer.deployHash.substr( 0, 8 ) + '&hellip;' + transfer.deployHash.substr( -8, 8 ) }}
                    <i ngxClipboard (cbOnSuccess)="copied($event)"  cbContent="{{ transfer.deployHash }}" class="far fa-clipboard"></i>
                </td>
                <td *ngIf="tab === 'inbound' || tab === 'approved'">
                        <span *ngIf="transfer.from">
                            {{ transfer.from.substr( 0, 8 ) + '&hellip;' + transfer.from.substr( -8, 8 ) }}
                        </span>
                    <span *ngIf="!transfer.from">
                             {{ transfer.fromHash.substr( 0, 17 ) + '&hellip;' + transfer.fromHash.substr( -4, 4 ) }}
                        </span>

                    <i ngxClipboard (cbOnSuccess)="copied($event)"  cbContent="{{ transfer.from || transfer.fromHash }}"
                       class="far fa-clipboard"></i>
                </td>
                <td *ngIf="tab === 'outbound' || tab === 'approved'">
                         <span *ngIf="transfer.to">
                            {{ transfer.to.substr( 0, 8 ) + '&hellip;' + transfer.to.substr( -8, 8 ) }}
                         </span>
                    <span *ngIf="!transfer.to">
                            {{ transfer.toHash.substr( 0, 17 ) + '&hellip;' + transfer.toHash.substr( -4, 4 ) }}
                         </span>
                    <i ngxClipboard (cbOnSuccess)="copied($event)"  cbContent="{{ transfer.to || transfer.toHash }}"
                       class="far fa-clipboard"></i>
                </td>
                <td class="right amount-cell">
                    {{ transfer.amount / 1000000000 | number:'1.0-2' }}
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td [attr.colspan]="tab === 'previous' ? 4 : tab === 'approved' ? 6 : 5" class="right">Total (CSPR):</td>
                <td class="right">{{ transfersSum | number:'1.0-2' }}</td>
            </tr>
            <tr>

                <td [attr.colspan]="tab === 'previous' ? 4 : tab === 'approved' ? 6 : 5" class="right">
                    Include in Circulating Supply (CSPR):
                </td>
                <td class="right">{{ countSelected() | number:'1.0-2' }}</td>
            </tr>
            </tfoot>
        </table>
        <div class="pt-4 right">
            <div class="alert" *ngIf="message"
                 [class.alert-info]="!message.type"
                 [class.alert-success]="message.type === 'success'"
                 [class.alert-warning]="message.type === 'warning'"
                 [class.alert-danger]="message.type === 'error'">
                {{ message.text }}
            </div>
            <button class="btn btn-lg btn-warning me-3" (click)="cancel()" *ngIf="tab !== 'approved'">
                Cancel
            </button>
            <button class="btn btn-lg btn-success"
                    (click)="save()"
                    [disabled]="(countSelected() === countApproved()) || isSaving"
                    [class.btn-disabled]="(countSelected() === countApproved()) || isSaving">
                Save
            </button>
        </div>
    </div>
</div>

