.validators {
    display: block;

    .right {
        text-align: right;
    }

    button {
        width: 120px;
        text-align: center;
    }

    button.btn-close {
        width: 24px;
        float: right;
        margin-top: -35px;
        margin-right: -35px;
    }

    .text-bold {
        font-weight: bold;
    }
}


