<div class="overview">
    <div class="metrics">
        <div class="pt-3">
            Circulating Supply: {{ circulatingSupply | number:'1.0-2' }}
            <div class="text-muted">
                <i>Circulating Supply = Unlocked Funds + Unlocked Validators + Rewards of Unlocked Validators</i>
            </div>

        </div>
        <div class="pt-3">
            Total Supply: {{ totalSupply | number:'1.0-2' }}
        </div>
        <div class="pt-3">
            Validators Weight: {{ validatorsWeight| number:'1.0-2' }}
        </div>
    </div>
    <div class="mt-5">
        <h3 class="approved-header">Approved Unlock Transactions</h3>
        <app-account></app-account>
    </div>
</div>
